atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.9.11
cssselect==1.1.0
dateparser==0.7.2
importlib-metadata==0.23
jmespath==0.9.4
lxml==4.6.3
more-itertools==7.2.0
packaging==19.2
parsel==1.5.2
pipe==1.5.0
pluggy==0.13.0
price-parser==0.3.2
py==1.10.0
pyparsing==2.4.2
pytest==5.2.1
six==1.12.0
unidecode==0.4.20
w3lib==1.21.0
wcwidth==0.1.7
zipp==0.6.0