version: 2
jobs:
  python3.5:
    docker:
      - image: python:3.5
    steps:
      - checkout
      - run: |
          pip install tox
          tox
  python3.6:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run: |
          pip install tox
          tox
  python3.7:
    docker:
      - image: python:3.7
    steps:
      - checkout
      - run: |
          pip install tox
          tox
  python3.8:
    docker:
      - image: python:3.8
    steps:
      - checkout
      - run: |
          pip install tox
          tox

workflows:
  version: 2

  shublang:
    jobs:
      - toxify
      - build
